body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    background: #161616;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    font-size: 0.9em;
    max-width: 35em;
    line-height: 27px;
}

h1, h2 {
    font-weight: 300;
}

h1 {
    margin: 0.5em 0;
    font-size: 3em; 
}

.specs h2, .about h2 {
    font-size: 2em;
    padding-left: 1.2em;
    border-left: 0.1em #5bc7ca solid;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

section {
    padding: 2.5em;
}

/* set all flex layouts */
nav, .infos, .info, .specs-header, .specs li, .stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    padding: 1em 2.5em;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.brand-container {
    display: flex;
    align-items: center;
}

.brand-logo {
    width: 50px; /* Adjust the width as needed */
    height: auto;
    margin-right: 10px; /* Space between logo and brand name */
}

.brand span {
    font-size: 1.5rem; /* Adjust font size for the brand name */
    font-weight: bold; /* Make the brand name bold */
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: #ffffff;
    font-weight: bold;
}

.menu a:hover {
    color: #5bc7ca;
}

.menu-btn {
    display: none;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}

.menu-btn button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}

/* Responsive Navigation Menu */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        margin: 15px 0;
    }

    .menu-btn {
        display: block;
    }
}

/* Header Section */
header {
    position: relative;
    height: 100vh;
    min-height: 30em;
    display: flex;
    flex-direction: column;
    z-index: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/imgbanner.jpg) no-repeat;
    background-size: cover;
    filter: brightness(0.5);
    z-index: -1;
}

.header-body {
    padding: 2.5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-body > div {
    max-width: 500px;
}

/* About Section */
.about {
    background: #161616;
}

.heading h2 {
    margin-bottom: 1em;
}

.heading p {
    margin-left: 3em;
    display: inline-block;
}

.infos {
    gap: 2em;
    flex-wrap: wrap;
}

.info {
    text-align: center;
}

.info img {
    max-width: 10em;
    margin-bottom: 1em;
}

.info h3 {
    margin-bottom: 0.5em;
}

.info p {
    max-width: 15em;
    margin: 0 auto;
}

/* Specs Section */
.specs {
    background: url(../images/imgbanner2.jpg) no-repeat center;
    background-size: cover;
    min-height: 40em;
    position: relative;
    padding-top: 8em;
    padding-bottom: 8em;
}

.specs-header, .specs ul {
    position: relative;
    z-index: 1;
}

.specs ul {
    width: 40em;
    margin-top: 3em;
}

.specs li {
    padding: 0.6em 0;
    border-bottom: #555 1px solid;
}

.specs li span:first-child {
    color: #fff;
}

/* Panel Section */
.panels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 40em;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 8em;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.panel > div {
    padding: 1em;
}

.panels-sm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.panel:first-child, .panel:last-child {
    padding: 1em;
}

.panel:first-child {
    background: #d2dedf;
}

.panel:last-child {
    background: #fff;
    color: #555;
}

.panel:nth-child(2) {
    background: url(../images/imgpanel1.jpg) no-repeat center;
}

.panel:nth-child(3) {
    background: url(../images/imgpanel2.jpg) no-repeat center;
}

.panel:nth-child(2), .panel:nth-child(3) {
    background-size: cover;
    position: relative;
}

/* Set all image dark overlays */
.specs::before, .panel:nth-child(2):before, .panel:nth-child(3):before {
    content: '';
    background: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.panel h2 {
    margin: 0.7em 0;
    color:#161616;
}

.panel-lg {
    background: url(../images/imgpanel3.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.panel:first-child .icon {
    border: 3px #fff solid;
}

.panel:nth-child(4) .icon {
    border: 3px #555 solid;
}

/* Stats Section */
.car-stats {
    padding: 5em 1em;
}

.stats {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.stats > div {
    margin-bottom: 1em;
    position: relative;
    min-width: 10em;
}

.stats > div h1:nth-child(2) {
    color: #282828;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    font-size: 2.5em;
    font-weight: 700;
}

.stats h5 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.7em;
}

.counter {
    margin: 0.1em 0;
}

.car {
    padding: 4em 1em 4em 1em;
    margin-top: 8em;
}

.circle {
    border: 2px #ccc solid;
    border-radius: 50%;
    width: 700px;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    background: #161616;
    animation: glow 4s ease-in-out infinite;
    aspect-ratio: 3/1;
}

.car img {
    width: 80%;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.circle div {
    border: inherit;
    border-radius: inherit;
    background: inherit;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    animation: inherit;
}

.circle .inner-md-circle {
    width: 75%;
    height: 75%;
    top: 10%;
    animation-delay: 3s;
}

.circle.inner-sm-circle {
    width: 50%;
    height: 50%;
    top: 20%;
    animation-delay: 6s;
}
